.header {
  background: #519872;
  height: 8vh;
  color: white;
  font-size: 28px;
  display: flex;
  font-weight: bolder;
}

.header-left {
  margin-left: 25%;
  display: flex;
  /* border: black solid 2px; */
  width: 170px;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  height: 40px;
}
